html-fragment{
  font-size: 14px;
  font-family: Arial, sans-serif;
}

nav {
  font-weight: bold;
}

.scrollable-well{
  max-height: 700px;
  overflow-y: auto;
  padding: 10px;
  padding-bottom: 0px;
}

